{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <div class="about-us">
        <p1>The data used here has been taken from the <a href="https://data.gov.in/">Open Government Data (OGD) Platform India</a></p1>
        <h3>Hello, I'm Amiya :)</h3>
        <p>I'm an engineering student from Chattisgarh, India. A certified nerd who's passionate about the internet and how stuff works.</p>
        <h2>You can contact me here</h2>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/amiya-vatsa-031213218/">@amiya-vatsa-031213218</a></p>
        <p>Instagram: <a href="https://www.instagram.com/amiyavatsa/">@amiyavatsa</a></p>
        <p>email: <a href="amiyavatsa1807@gmail.com">amiyavatsa1807@gmail.com</a></p>

    </div>
{% endblock %}